<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Testng">
    <classes>
     <!-- <class name="day1.ParsingJSONResponseData"/>
      <class name="day1.ParsingXmlResponse"/>
      <class name="day1.Authentication"/>
      <class name="day1.DiffWaysToCreatePostRequestBody"/>
      <class name="day1.HTTPRequests"/>-->
      
      <class name="tests.GetUserTest"/>
      
    </classes>
  </test> <!-- Testng -->
</suite> <!-- Suite -->
